<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザー新規登録</title>
<link href="/css/add.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
    <div class="container">
      </div>
      <h1>ユーザー情報編集</h1>
      <form th:action="@{/user/update}" th:object="${userData}" th:method="post">
			<table>
				<tr>
                <th class="cell_title">id</th>
                <th class="cell_required">※</th>
                <td><input type="text" th:field="*{id}"></td>
            </tr>
			 <tr>
                <th class="cell_title">社員番号</th>
                <th class="cell_required">※</th>
                <td><input type="text" th:field="*{userid}"></td>
            </tr>
            <tr>
                <th class="cell_title">氏名</th>
                <th class="cell_required">※</th>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <th class="cell_title">メールアドレス</th>
                <th class="cell_required"></th>
                <td><input type="text" th:field="*{address}"></td>
            </tr>
            <tr>
                <th class="cell_title">電話番号</th>
                <th class="cell_required"></th>
                <td><input type="text" th:field="*{phone}"></td>
            </tr>
        </table>
        <div>
            <input type="submit" value="登録" class="btn">
        </div>
      </form>
  </body>

</html>