body {
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 6px;
}

table th {
    background-color: #F2F2F2;
}
.btn{
	height: 50px;

width: 100px;
	text-align=center;

}